@model IEP_portal.Models.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading" align="center">Question Details</div>

<div>
    <hr />
    @if (Session["unlockErrors"] != null)
    {
        <div class="text-danger" align="center">
            <h3>@Session["unlockErrors"].ToString()</h3>
        </div>
        <br />
    }
    @if (Session["unlockSuccess"] != null)
    {
        <div class="text-success" align="center">
            <h3>@Session["unlockSuccess"].ToString()</h3>
        </div>
        <br />
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        @if (Model.Text != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
      
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        }
        @if (Model.Picture != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
           
        </dd>
        <div align="center">
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" />
        </div>
        }
       

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div style="color:#862d2d">
    <div class="col-md-4" align="center">
        @Html.Label("Mark", new { @style = "margin-right:17%" })
    </div>
    <div class="col-md-4" align="center">
        @Html.Label("Answers")
    </div>
    <div class="col-md-4" align="right">
        @Html.Label("Correct Answer", new { @style = "margin-right:5%" })
    </div>
</div>
<br /><hr />
@foreach (var child in Model.Answer)
{
    <div class="row">
        <div class="col-md-2" align="right">
            @Html.DisplayFor(item => child.Mark)
        </div>
        <div class="col-md-8" align="center">
            @Html.DisplayFor(item => child.Text)
        </div>
        <div class="col-md-2" align="center" style="vertical-align:middle">
            @Html.DisplayFor(item => child.IsCorrect)
        </div>
    </div>
}
<br />
<br />

    @if (!Model.IsLocked)
    {
        <div class="col-md-6" align="right">
                <button onclick="location.href = '/Questions/Edit/@Model.Id'" type="button" class="btn new-button">
                   Edit
                </button>
            </div>

    }
    else
    {
        <div  class="col-md-6" align="right">
            <button onclick="location.href = '/Questions/Unlock/@Model.Id'" type="button" class="btn new-button">
               Unlock
            </button>
        </div>
       
    }
    <div  class="col-md-6" align="left">
        <button onclick="location.href = '/Questions'" type="button" class="btn new-button">
            Back to list
        </button>
    </div>
