@model IEnumerable<IEP_portal.Models.AspNetUsers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading" align="center">Users</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tokens)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>
@foreach (var item in Model)
{ if (!item.Type.Equals("A"))
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tokens)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @{  
            string name = null;
            if (item.AspNetRoles.Count != 0)
            {
                name = item.AspNetRoles.First<IEP_portal.Models.AspNetRoles>().Name;
            }
            }
    <td>
        @name
    </td>
@if (!item.isActive) { 
    <td>
       
        @Html.ActionLink("Activate", "Activate", new { id = item.Id })
    </td>
}
</tr>
                }
            }

</table>
<br />